@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 90%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

.filter-group:not(:first-child) {
	margin: 0px 0px 0px 50px;
}

.filter-group {
	float: left;
}

.card {
	margin: 10px;
	padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
}