@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html, body {
	font-family: 'Raleway', sans-serif;
	font-size: 90%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

h2, h4, h6 {
	color: #00cc00;
}

a i:hover {
  text-decoration: none;
  color: #00cc00;
}

.card {
	margin: 10px;
	padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.8;
}

.global-colour-1 {
	color: #00cc00;
}

.global-colour-2 {
	color: black;
}