* { box-sizing: border-box; }

body {
	background-image: url("../img/background/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

p.socialmedia a { margin: 2px; }

.content-card {
	margin-top: 15px;
	margin-bottom: 15px;
}