* { box-sizing: border-box; }

body {
	background-image: url("../img/background/wood.jpg");
	background-color: white;
}

p.socialmedia a { margin: 2px; }

.content-card {
	margin-top: 15px;
	margin-bottom: 15px;
}