<ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#page-top">TOP</a></li>
    <li class="sidebar-nav-item"><a href="home.html#page-top">HOME</a></li>
    <li class="sidebar-nav-item ms-4"><a href="home.html#more">EXPLORE</a></li>
    <li class="sidebar-nav-item"><a href="cv.html#page-top">PROFESSIONAL</a></li>
    <li class="sidebar-nav-item ms-4"><a href="cv.html#page-top">PERSONAL STATEMENT</a></li>
    <li class="sidebar-nav-item ms-4"><a href="cv.html#education">EDUCATION</a></li>
    <li class="sidebar-nav-item ms-4"><a href="cv.html#technical">TECHNICAL SKILLS</a></li>
    <li class="sidebar-nav-item ms-4"><a href="cv.html#experience">WORK EXPERIENCE</a></li>
    <li class="sidebar-nav-item ms-4"><a href="cv.html#resume">RESUME</a></li>
    <li class="sidebar-nav-item"><a href="places.html#page-top">PLACES</a></li>
    <li class="sidebar-nav-item"><a href="interests.html#page-top">INTERESTS</a></li>
</ul>