<!doctype html>
<html lang="en">
	<head>

		<!-- Meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css?v=2">

		<title>Oops | Tanzeem Chowdhury</title>
	</head>
	<body>

		<div class="container h-100">
		    <div class="row align-items-center h-100">
		        <div class="col-md-12">

					<!-- MAIN CARD -->
					<div class="row">
						<div class="col-md-12">
							<div class="card shadow-card ext-center">
								<h1 class="display-3">Oops!</h1>
								<h3><small>Still working on this.</small></h3>
								<br>
								<i class="fas fa-frown fa-10x"></i>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		
    	<!-- JavaScript -->
    	<script type="text/javascript" src="../js/lib/jquery-3.4.1.min.js"></script>
    	<script type="text/javascript" src="../js/lib/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/f392248482.js" crossorigin="anonymous"></script>
  </body>
</html>