<!doctype html>
<html lang="en">
	<head>

		<!-- Meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css?v=2">
		<link rel="stylesheet" type="text/css" href="../css/cv.css?v=2">

		<title>Professional | Tanzeem Chowdhury</title>
	</head>
	<body>

		<div class="container h-100">
		    <div class="row align-items-center h-100">
		        <div class="col-md-12">

					<!-- PERSONAL STATEMENT -->
					<div class="row">
						<div class="col-md-12">
							<div class="card shadow-card">
								<div class="row">
									<div class="col-md-12">
										<h3>PERSONAL STATEMENT</h3>
										<hr>
										Enthusiastic and dedicated software developer, eager to tackle new challenges and further an appetite to learn new technologies. Seeking to leverage extensive skills from my education and work experience to promote ideas and develop powerful applications.
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- EDUCATION -->
					<div class="row">
						<div class="col-md-12">
							<div class="card shadow-card">
								<div class="row">
									<div class="col-md-12">
										<h3>EDUCATION</h3>
										<hr>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9">
										<h4>University of Toronto <small>- Toronto, Ontario</small></h4>
									</div>
									<div class="col-md-3 text-right">
										<h5>2015</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<ul>
											<li>Major: Computer Science</li>
											<li>Minors: Mathematics, Biology</li>
											<li>Received Honours BSc Degree</li>
										</ul>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-9">
										<h4>Sandalwood Heights Secondary School <small>- Brampton, Ontario</small></h4>
									</div>
									<div class="col-md-3 text-right">
										<h5>2009</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<ul>
											<li>Honour roll graduate</li>
											<li>Received <abbr title="Ontario Secondary School Diploma">OSSD</abbr></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- TECHNICAL SKILLS -->
					<div class="row">
						<div class="col-md-12">
							<div class="card shadow-card">
								<div class="row">
									<div class="col-md-12">
										<h3>TECHNICAL SKILLS</h3>
										<hr>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<h4>Programming Languages</h4>
										<ul class="check">
											<li>C</li>
											<li>C++</li>
											<li>C#/.NET</li>
											<li>Java</li>
											<li>PHP</li>
											<li>Python</li>
										</ul>
									</div>
									<div class="col-md-4">
										<h4>Web Technologies</h4>
										<ul class="check">
											<li>Django</li>
											<li>ASP.NET</li>
											<li>Spring MVC</li>
											<li>Node.js</li>
											<li>HTML5 | CSS3 | JavaScript</li>
											<li>jQuery | JSON | AJAX</li>
										</ul>
									</div>
									<div class="col-md-4">
										<h4>Databases</h4>
										<ul class="check">
											<li>MySQL</li>
											<li>PostgresSQL</li>
											<li>SQL Server</li>
											<li>Oracle</li>
											<li>Hibernate</li>
										</ul>
									</div>
								</div>
								<div class="row">	
									<div class="col-md-4">
										<h4>Tools & IDEs</h4>
										<ul class="check">
											<li>Visual Studio</li>
											<li>Eclipse</li>
											<li>Wing IDE</li>
											<li>SQL Developer</li>
											<li>PgAdmin</li>
										</ul>
									</div>
									<div class="col-md-4">
										<h4>Version Control</h4>
										<ul class="check">
											<li>Git</li>
											<li>SVN</li>
											<li>Team Foundation Server</li>
										</ul>
									</div>
									<div class="col-md-4">
										<h4>Design & Methodologies</h4>
										<ul class="check">
											<li>Object Oriented</li>
											<li>Complexity Analysis</li>
											<li>Unit Testing</li>
											<li>Accessibility</li>
											<li>Usability</li>
											<li>Agile</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- WORK EXPERIENCE -->
					<div class="row">
						<div class="col-md-12">
							<div class="card shadow-card">
								<div class="row">
									<div class="col-md-12">
										<h3>WORK EXPERIENCE</h3>
										<hr>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h4>Canada Revenue Agency <small>- Ottawa, Ontario</small></h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<h5>Acting Software Specialist (CS-03)</h5>
									</div>
									<div class="col-md-5 text-right">
										<h5>November 2019 - Present</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<h5>Software Developer / Analyst (CS-02)</h5>
									</div>
									<div class="col-md-5 text-right">
										<h5>May 2017 - Present</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<h5>Software Developer (CS-01)</h5>
									</div>
									<div class="col-md-5 text-right">
										<h5>May 2016 - May 2017</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h6>Core Responsibilities:</h6>
										<ul>
											<li>Team lead the development of several large-scale Java Spring MVC applications from commencement to launch</li>
											<li>Involved in the architectural design from the ground level, designing using agency standards</li>
											<li>Gathered requirements, communicating with business leads providing technical advice, recommendations and estimates</li>
											<li>Conducted continuous analysis for pivoted requirements, developing under agile methodologies</li>
											<li>Monitored, identified and resolved technical issues throughout the majority of the development lifecycle</li>
										</ul>
									</div>
								</div>
								<div class="row mb-1">	
									<div class="col-md-12">
										<h6>Core Internal Enterprise Projects:</h6>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-10">
										<div class="row justify-content-center">
											<div class="col-lg-3 text-center mt-3">
												<div class="border rounded p-3 h-100">
													<i class="fas fa-file-invoice-dollar fa-7x"></i>
													<div class="mt-2">Procurement Management</div>
												</div>
											</div>
											<div class="col-lg-3 text-center mt-3">
												<div class="border rounded p-3 h-100">
													<i class="fas fa-concierge-bell fa-7x"></i>
													<div class="mt-2">Aquisition Service Tool</div>
												</div>
											</div>
											<div class="col-lg-3 text-center mt-3">
												<div class="border rounded p-3 h-100">
													<i class="fas fa-folder-open fa-7x"></i>
													<div class="mt-2">Audit Records Management</div>
												</div>
											</div>
											<div class="col-lg-3 text-center mt-3">
												<div class="border rounded p-3 h-100">
													<i class="fas fa-building fa-7x"></i>
													<div class="mt-2">Real Property Management</div>
												</div>
											</div>
											<div class="col-lg-3 text-center mt-3">
												<div class="border rounded p-3 h-100">
													<i class="fas fa-hard-hat fa-7x"></i>
													<div class="mt-2">Employment Bank</div>
												</div>
											</div>
											<div class="col-lg-3 text-center mt-3">
												<div class="border rounded p-3 h-100">
													<i class="fas fa-low-vision fa-7x"></i>
													<div class="mt-2">Accessibility Assessment Tool</div>
												</div>
											</div>
											<div class="col-lg-3 text-center mt-3">
												<div class="border rounded p-3 h-100">
													<i class="fas fa-envelope fa-7x"></i>
													<div class="mt-2">Mail Office Management</div>
												</div>
											</div>
											<div class="col-lg-3 text-center mt-3">
												<div class="border rounded p-3 h-100">
													<i class="fas fa-users fa-7x"></i>
													<div class="mt-2">Central User Mangement</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<h4>Morneau Shepell <small>- Markham, Ontario</small></h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<h5>Software Developer</h5>
									</div>
									<div class="col-md-5 text-right">
										<h5>June 2015 - May 2016</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<ul>
											<li>Developed and maintained large ASP.NET MVC health management web applications</li>
											<li>Composed and edited extensive SQL scripts and stored procedures to handle large volumes of data in SQL Server databases</li>
											<li>Composed PowerShell scripts to automate tasks</li>
											<li>Responsible for deploying core applications to testing environments and production, configuring IIS Manager</li>
											<li>Frequently communicated with business leads to determine client and business requirements</li>
										</ul>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<h4>University of Toronto | CollaVRate <small>- Toronto, Ontario</small></h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<h5>CS Implementation Project</h5>
									</div>
									<div class="col-md-5 text-right">
										<h5>September 2013 - August 2014</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<ul>
											<li>Implemented a WebVR virtual environment leveraging Myo armbands for tracking, integrating multiple APIs</li>
											<li>Created a node.js server allowing multiple clients to connect and draw simultaneously via multiple Myo armbands</li>
											<li>Created Oculus Rift environments using WebGL via Three.js that allows users to explore 3D space</li>
										</ul>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-6 text-center">
										<iframe width="100%" height="300" src="https://www.youtube.com/embed/JGn8SpgcJPo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<h4>Environment Canada <small>- Toronto, Ontario</small></h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<h5>Software Developer (Internship)</h5>
									</div>
									<div class="col-md-5 text-right">
										<h5>September 2013 - August 2014</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h6>Core Responsibilities:</h6>
										<ul>
											<li>Consulted appropriate documentation and client requirements to implement functionality and features</li>
											<li>Ported back-end of public facing web applications from Cold Fusion to PHP, redesigning logic to accommodate new features</li>
											<li>Redeveloped front-end of using the WET framework, and adhering to WCAG 2.0 standards for web accessibility</li>
											<li>Optimized queries and handled data from Oracle and MSSQL databases</li>
											<li>Secured web application from SQL injection and cross-site scripting vulnerabilities</li>
										</ul>
									</div>
								</div>
								<div class="row">	
									<div class="col-md-12">
										<h6>Public Facing Projects:</h6>
									</div>
								</div>
								<div class="row justify-content-center">	
									<div class="col-md-3 text-center">
										<a href="https://weather.gc.ca/" target="_blank">
											<img class="img-responsive img-thumbnail" src="../img/cv/weather.png" alt="https://weather.gc.ca/">
											<br><br>
											<h6>weather.gc.ca</h6>
										</a>
									</div>
									<div class="col-md-3 text-center">
										<a href="https://climate.weather.gc.ca/" target="_blank">
											<img class="img-responsive img-thumbnail" src="../img/cv/climate.png" alt="https://climate.weather.gc.ca/">
											<br><br>
											<h6>climate.weather.gc.ca</h6>
										</a>
									</div>
									<div class="col-md-3 text-center">
										<a href="https://wateroffice.ec.gc.ca/" target="_blank">
											<img class="img-responsive img-thumbnail" src="../img/cv/wateroffice.png" alt="https://wateroffice.ec.gc.ca/">
											<br><br>
											<h6>wateroffice.ec.gc.ca</h6>
										</a>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<h4>Staples Canada Inc. <small>- Brampton, Ontario</small></h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<h5>Technology Sales Associate & Technician (Part Time Student)</h5>
									</div>
									<div class="col-md-5 text-right">
										<h5>July 2010 - April 2014</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h6>Core Responsibilities:</h6>
										<ul>
											<li>Resolved customer inquiries and concerns on technological based products and services</li>
											<li>Engaged and effectively communicated with customers in a friendly and professional manner</li>
											<li>Carried out desktop and laptop repairs, resolving both hardware and software concerns</li>
											<li>Delegated and trained peers to complete tasks efficiently</li>
										</ul>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-12">
										<h4>JSA Steel <small>- Concord, Ontario</small></h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<h5>Machine Operator & General Labourer (Part Time Student)</h5>
									</div>
									<div class="col-md-5 text-right">
										<h5>January 2011 - July 2011</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h6>Core Responsibilities:</h6>
										<ul>
											<li>Operated heavy machinery including but not limited to hydraulic metal punching, cutting machine and horizontal band saw machine to manufacture consumer steel products from CAD designs</li>
											<li>Assisted in the preparation of steel products for galvanizing</li>
											<li>Sorted and performed inventory of incoming and outgoing steel pieces</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- RESUME | LINKEDIN CARD -->
					<div class="row">
						<div class="col-md-12">
							<div class="card shadow-card">
								<div class="row justify-content-center">
									<div class="col-sm-12 col-md-6 text-center">
										<a href="../static/resume-19.pdf">
											<p class="mb-0">
												<i class="fas fa-file-pdf"></i>
												Download Resume
											</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

			    </div>
			</div>
		</div>
		
    	<!-- JavaScript -->
    	<script type="text/javascript" src="../js/lib/jquery-3.4.1.min.js"></script>
    	<script type="text/javascript" src="../js/lib/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/f392248482.js" crossorigin="anonymous"></script>
  </body>
</html>