<!doctype html>
<html lang="en">
	<head>

		<!-- Meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/home.css">

		<title>Home | Tanzeem Chowdhury</title>
	</head>
	<body>

		<div class="container h-100">
		    <div class="row align-items-center h-100">
		        <div class="col-md-12">

					<!-- NAME CARD -->
					<div class="row">
						<div class="col-md-12">
							<div class="card text-center">
								<h1 class="display-4">
									<span class="global-colour-1">T</span>anzeem
									<span class="global-colour-1">C</span>howdhury
								</h1>
								<h4>
									<small>
										Developer
										<span class="global-colour-1">
											&bull;
											Designer
											&bull;
										</span>
										Hobbyist
									</small>
								</h4>
								
								<!-- SOCIAL MEDIA -->
								<p class="socialmedia">
									<a href="mailto:tanzeem.c25@gmail.com">
										<i class="fas fa-envelope-square fa-3x"></i>
									</a>
									<a href="https://www.facebook.com/tanzeemchowdhury1991/" target="_blank">
										<i class="fab fa-facebook-square fa-3x"></i>
									</a>
									<a href="https://www.instagram.com/tanzeemc25/" target="_blank">
										<i class="fab fa-instagram-square fa-3x"></i>
									</a>
									<a href="https://www.linkedin.com/in/tanzeemc25/" target="_blank">
										<i class="fab fa-linkedin fa-3x"></i>
									</a>
									<a href="https://twitter.com/tanzeemc25" target="_blank">
										<i class="fab fa-twitter-square fa-3x"></i>
									</a>
									<a href="https://github.com/tanzeemc25" target="_blank">
										<i class="fab fa-github-square fa-3x"></i>
									</a>
								</p>
							</div>
						</div>
					</div>

		        	<!-- CONTENT CARD -->
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="row justify-content-center">
									<div class="col-md-3 text-center content-card">
										<a href="cv.html">
											<h2>Professional</h2>
											<p>My skills & resume</p>
											<i class="fas fa-user-tie fa-10x"></i>
										</a>
									</div>
									<div class="col-md-3 border-left text-center content-card">
										<a href="construction.html">
											<h2>Work</h2>
											<p>Projects that i've worked on</p>
											<i class="fas fa-laptop-code fa-10x"></i>
										</a>
									</div>
									<div class="col-md-3 border-left text-center content-card">
										<a href="construction.html">
											<h2>Links</h2>
											<p>Assorted things of interest</p>
											<i class="fas fa-rss fa-10x"></i>
										</a>
									</div>
									<div class="col-md-3 border-left text-center content-card">
										<a href="travel.html">
											<h2>Travel</h2>
											<p>Places i've been and a souvenir map</p>
											<i class="fas fa-map-marked-alt fa-10x"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		
    	<!-- JavaScript -->
    	<script type="text/javascript" src="../js/lib/jquery-3.4.1.min.js"></script>
    	<script type="text/javascript" src="../js/lib/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/f392248482.js" crossorigin="anonymous"></script>
  </body>
</html>