<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/interests.css">
	</head>
	<body>
		<div id="filtersContainer" class="filters clear text-center">
			<div id="filtersMain">
				<!-- TO BE FILLED BY JS-->
			</div>
			<hr>
			<div id="filtersSub">
				<!-- TO BE FILLED BY JS-->
			</div>
		</div>
		<hr>
		<div id="poster-grid" class="grid clear">
			<!-- TO BE FILLED BY JS-->
		</div>
		<script type="text/javascript" src="../js/lib/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="../js/lib/isotope.pkgd.min.js"></script>
		<script type="text/javascript" src="../js/database/interest-data.js"></script>
		<script type="text/javascript" src="../js/interestsRenderer.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
	</body>
</html>