<!doctype html>
<html lang="en">
	<head>

		<!-- Meta tags -->
		<meta charset="utf-8">
		<meta name="author" content="Tanzeem Chowdhury">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css?v=2">

		<title>Interests | Tanzeem Chowdhury</title>
	</head>
	<body>
		<div class="container h-100">
		    <div class="row align-items-center h-100">
		        <div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="card shadow-card pt-0 pb-3">
								<div class="row">
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=tv">
											<img src="../img/interests-home/tv.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">TELEVISION</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=mv">
											<img src="../img/interests-home/movie.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">MOVIES</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=co">
											<img src="../img/interests-home/comic.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">COMICS</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=bk">
											<img src="../img/interests-home/book.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">BOOKS</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=vg">
											<img src="../img/interests-home/video-game.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">VIDEO GAMES</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=ml">
											<img src="../img/interests-home/marvel.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">MARVEL</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=dc">
											<img src="../img/interests-home/dc.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">DC</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=sw">
											<img src="../img/interests-home/star-wars.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">STAR WARS</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=pr">
											<img src="../img/interests-home/power-rangers.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">POWER RANGERS</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=db">
											<img src="../img/interests-home/dragon-ball.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">DRAGON BALL</h5>
										</a>
									</div>
									<div class="col-lg-3 mt-3">
										<a class="text-center" href="interests.html?t=pk">
											<img src="../img/interests-home/pokemon.jpg" class="img-responsive">
											<h5 class="pt-3 pb-3 bg-lightplus">POKEMON</h5>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		
    	<!-- JavaScript -->
    	<script type="text/javascript" src="../js/lib/jquery-3.4.1.min.js"></script>
    	<script type="text/javascript" src="../js/lib/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/f392248482.js" crossorigin="anonymous"></script>
  </body>
</html>