<!doctype html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="utf-8">
		<meta name="author" content="Tanzeem Chowdhury">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css?v=2">
		<link rel="stylesheet" type="text/css" href="../css/interests.css">
		<!-- Title -->
		<title>Interests | Tanzeem Chowdhury</title>
	</head>
	<body>
		<div class="container h-100">
		    <div class="row align-items-center">
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=co">
						<div class="poster">
							<img src="../img/interests-home/sq-comics.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">All Comics</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=ac">
						<div class="poster">
							<img src="../img/interests-home/sq-assassin-screed.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">Assassin's Creed</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=dc">
						<div class="poster">
							<img src="../img/interests-home/sq-dc.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">DC</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=db">
						<div class="poster">
							<img src="../img/interests-home/sq-dragon-ball.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">Dragon Ball</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=hi">
						<div class="poster">
							<img src="../img/interests-home/sq-history.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">History</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=ml">
						<div class="poster">
							<img src="../img/interests-home/sq-marvel.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">Marvel</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=pk">
						<div class="poster">
							<img src="../img/interests-home/sq-pokemon.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">Pokemon</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=pr">
						<div class="poster">
							<img src="../img/interests-home/sq-power-rangers.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">Power Rangers</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=sif">
						<div class="poster">
							<img src="../img/interests-home/sq-soiaf.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">Song of Ice and Fire, A</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=sw">
						<div class="poster">
							<img src="../img/interests-home/sq-star-wars.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">Star Wars</span></div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-6 col-sm-3 p-1">
					<a class="text-center" href="interests.html?t=sm">
						<div class="poster">
							<img src="../img/interests-home/sq-super-mario.jpg" class="img-responsive">
							<div class="middle">
								<div class="text"><span class="h4">Super Mario</span></div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row pb-4">
				<div class="col-md-12 text-center">
					<hr>
					<a href="interests.html?t=tv">TELEVISION</a> |
					<a href="interests.html?t=mv">MOVIES</a> |
					<a href="interests.html?t=bk">BOOKS</a> |
					<a href="interests.html?t=vg">VIDEO GAMES</a>
				</div>
			</div>
		</div>
		
    	<!-- JavaScript -->
    	<script type="text/javascript" src="../js/lib/jquery-3.4.1.min.js"></script>
    	<script type="text/javascript" src="../js/lib/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/f392248482.js" crossorigin="anonymous"></script>
  </body>
</html>