<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css?v=1">
		<link rel="stylesheet" type="text/css" href="../css/interests.css?v=1">
	</head>
	<body>
		<div class="filters clear card shadow-card m-3">
			<div class="row">
				<div id="filtersMedia" class="col-md-4">
					<h1>Media</h1>
					<!-- CHECKBOXES TO BE FILLED BY JS-->
				</div>
				<div id="filtersFranchise" class="col-md-4">
					<h1>Collections</h1>
					<!-- CHECKBOXES TO BE FILLED BY JS-->
				</div>
				<div id="filtersOther" class="col-md-4">
					<h1>Other</h1>
					<!-- CHECKBOXES TO BE FILLED BY JS-->
				</div>
			</div>
		</div>
		<div id="poster-grid" class="grid clear">
			<!-- TO BE FILLED BY JS-->
		</div>
		<script type="text/javascript" src="../js/lib/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="../js/lib/isotope.pkgd.min.js"></script>
		<script type="text/javascript" src="../js/database/interest-data.js?v=1"></script>
		<script type="text/javascript" src="../js/interestsRenderer.js?v=1"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
	</body>
</html>