<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

		<title>Travel | Tanzeem Chowdhury</title>
		
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<link rel="stylesheet" type="text/css" href="../css/places.css">
	</head>
	<body>
		
		<!-- LIST -->
		<div class="row">
			<div class="col-sm-12">
				<div class="m-3">
					<button class="btn btn-success" type="button" data-toggle="collapse" data-target="#placelist" aria-expanded="false" aria-controls="placelist">
						Show/Hide Places
					</button>
					<div id="placelist" class="row collapse m-2 mt-3"></div>
				</div>
			</div>
		</div>

		<!-- MAP -->
		<div class="row">
			<div class="col-sm-12">
				<div id="map"></div>
			</div>
		</div>

		<script type="text/javascript" src="../js/lib/jquery-3.4.1.min.js"></script>
    	<script type="text/javascript" src="../js/lib/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="../js/lib/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/f392248482.js" crossorigin="anonymous"></script>

		<script type="text/javascript" src="../js/database/places-data.js"></script>
		<script type="text/javascript" src="../js/places.js"></script>

		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs7lMxZxOPuP_S8fEwVgJKQfSnJlQ2csU&callback=init"></script>

	</body>
</html>